extends ../layout

block content
  h1 Your tasks
  p
    a(href='/tasks/new', class='btn btn-primary') Add a Task


  - if(docs.length)
    table.table
      tr
        th Task
          each task in docs
            tr
              td #{task.task}
  - else
    p You don't have any tasks! 
