h1
  color #666
  font 4em 'ChunkFiveRegular'
  line-height 0.9em
  margin-bottom 0.9em

h2 
  font-size: 1.8em
  line-height 1em
  margin-bottom 1em

h3 
  font-size 1.6em
  line-height 1.13em
  margin-bottom 1.13em

h4 
  font-size 1.4em
  line-height 1.29em
  margin-bottom 1.29em

h5 
  font-size 1.3em
  line-height 1.38em
  margin-bottom 1.38em

h6 
  font-size 1.2em
  line-height 1.5em
  margin-bottom 1.5em 

p, q, cite, address, ul, ol, dl
  font-size 1.2em
  line-height 1.5em
  margin-bottom 1.5em 

li, dd, dt
  font-size 1em 

a
  text-decoration underline
  color #3333cc
  outline none

a:hover
  text-decoration none

code, samp, dfn, kbd, var, acronym, ins, del

abbr 
  speak spell-out

acronym 
  speak normal

