h1 New view

-if(typeof flash != 'undefined')
  - if(flash.warning)
    div(data-alert='alert').alert-message.warning.fade.in
      a(class="close", href="#")×
      p= flash.warning
  - if(flash.info)
    div(data-alert='alert').alert-message.success.fade.in
      a(class="close", href="#")×
      p= flash.info

form(method='post', action='/tasks')
  fieldset
    legend Add a task
    div.clearfix
      label Task
      div.input
        input(name='task[task]', class='xlarge')
    div.actions
      input(type='submit', value='Save', class='btn primary')
      button(type='reset', class='btn') Cancel



