h1= title
p Welcome to #{title}

h2 Form example

form(method='post', action='/')
  fieldset
    legend Add a user
    p
      label First name
      input(name='user[first_name]')
    p
      label Last name
      input(name='user[surname]')
    p
    input(type='submit', value='Save')
