html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
html {
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
}
html,
body {
  height: 100%;
}
p {
  font-size: 1.6em;
  line-height: 1.8em;
}
ul {
  font-size: 1.6em;
  line-height: 1.8em;
}
.logo {
  float: left;
  font-size: 2.25em;
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: -0.08em -0.08em 0 #bc0066;
  margin: 1em 0.5em 1em 1em;
  padding: 0.35em 0.4em;
  background-color: #eb0080;
  border: none;
  border-radius: 10px;
  box-shadow: 0.05em 0.05em 0 #bc0066, 0.1em 0.1em 0 #bc0066, 0.15em 0.15em 0 #bc0066, 0.2em 0.2em 0 #bc0066;
}
.stalk {
  background-image: url("images/stalk.png");
  position: absolute;
  height: 29px;
  width: 20px;
  top: 5.7em;
  left: 3em;
}
section#login {
  float: left;
}
label {
  position: relative;
  top: 0.25em;
  display: inline;
  margin-right: 0.2em;
  font-size: 2em;
  color: #ccc;
}
input#nickname {
  outline: none;
  color: #fff;
  font-size: 2.25em;
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: 400;
  margin: 1em 0;
  width: 6em;
  text-shadow: -0.08em -0.08em 0 #bc0066;
  padding: 0.2em 0.4em;
  background-color: #eb0080;
  border: none;
  border-radius: 10px;
  box-shadow: 0.05em 0.05em 0 #bc0066, 0.1em 0.1em 0 #bc0066, 0.15em 0.15em 0 #bc0066, 0.2em 0.2em 0 #bc0066;
}
input#thats-me {
  position: relative;
  font-size: 2.25em;
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: -0.08em -0.08em 0 #bc0066;
  margin: 1em 0.5em;
  padding: 0.2em 0.4em;
  background-color: #eb0080;
  border: none;
  border-radius: 10px;
  box-shadow: 0.05em 0.05em 0 #bc0066, 0.1em 0.1em 0 #bc0066, 0.15em 0.15em 0 #bc0066, 0.2em 0.2em 0 #bc0066;
  cursor: pointer;
}
input#thats-me:hover {
  top: -0.1em;
  left: -0.1em;
  box-shadow: 0.05em 0.05em 0 #bc0066, 0.1em 0.1em 0 #bc0066, 0.15em 0.15em 0 #bc0066, 0.2em 0.2em 0 #bc0066, 0.25em 0.25em 0 #bc0066, 0.3em 0.3em 0 #bc0066;
  background: url("/images/hatch-20.png");
}
input#thats-me:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0.05em 0.05em 0 #bc0066, 0.1em 0.1em 0 #bc0066;
}
section#wrapper {
  display: none;
  width: 100%;
  float: left;
}
section#wrapper section#left-column {
  float: left;
  height: 100%;
  width: 80%;
}
section#wrapper section#left-column section#chat-box {
  padding: 2%;
  width: 96%;
  height: 81%;
  float: left;
}
section#wrapper section#left-column section#chat-box p strong {
  margin-right: 10px;
}
section#wrapper section#left-column section#chat-box p:nth-child(even) {
  background: #fafafa;
}
section#wrapper section#left-column section#message-box {
  padding: 2em 2% 2em;
  position: fixed;
  bottom: 0;
  border-top: 0.2em dashed #eb0080;
  width: 100%;
}
section#wrapper section#left-column section#message-box textarea {
  float: left;
  border: 1px dotted #eb0080;
  outline: none;
  width: 80%;
  height: 100%;
  font-size: 1.6em;
}
section#wrapper section#left-column section#message-box input#speak {
  letter-spacing: 0.1em;
  float: left;
  width: 14%;
  font-size: 2.5em;
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: -0.08em -0.08em 0 #bc0066;
  margin: 0 2%;
  padding: 0.2em 0.4em;
  background-color: #eb0080;
  border: none;
  border-radius: 10px;
  box-shadow: 0.05em 0.05em 0 #bc0066, 0.1em 0.1em 0 #bc0066, 0.15em 0.15em 0 #bc0066, 0.2em 0.2em 0 #bc0066;
  cursor: pointer;
}
section#wrapper section#right-column {
  background: #eb0080;
  padding: 2%;
  float: left;
  width: 16%;
  height: 96%;
  color: #fff;
}
section#wrapper section#right-column ul li {
  background: url("/images/avatar.png") center left no-repeat;
  list-style: none;
  padding-left: 40px;
}
