extends ../layout

block content
  h1 Your tasks
  p
    a(href='/tasks/new', class='btn btn-primary') Add a Task


  - if(docs.length)
    table.table
      tr
        th Task
        th &nbsp;
          each task in docs
            tr
              td #{task.task}
              td
                a.btn.btn-default(href='/tasks/#{task.id}/edit') Edit
  - else
    p You don't have any tasks! 
