extends ../layout

block content
  h1 New task view

  form(role='form', method='post', action='/tasks')
    fieldset
      legend Add a task
      div.form-group
        label Task
        input(name='task[task]', class='form-control')
      button.btn.btn-primary(type='submit') Submit
      button.btn.btn-default(type='reset') Clear
