doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
