extends layout

block content
  h1 Passing data through to the view layer

  h3 First Name
  p= user.first_name

  h3 Surname
  p= user.surname

  h3 Address
  p= user.address

  h3 Facebook Friends
  p= user.facebook_friends
