!!! 5
html
  head
    title Node.js / Backbone.js Example
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Tasks
    div#tasks
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js')
    script(src='/javascripts/application.js')
