extends ../layout

block content
  h1 Your tasks
  p
    a(href='/tasks/new', class='btn btn-primary') Add a Task

  - if (docs.length)
    table.table
      tr
        th Task
        th &nbsp;
        th &nbsp;
          each task in docs
            tr
              td #{task.task}
              td
                a.btn.btn-default(href='/tasks/#{task.id}/edit') Edit
              td
                form(method='post', action='/tasks/' + task.id)
                  input(name='_method', value='DELETE', type='hidden')
                  button.btn.btn-danger(type='submit') Delete
                 
                 

  - else
    p You don't have any tasks! 
